
@model AccountViewModel
@using Microsoft.AspNetCore.Identity
@using Flubr.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



    <style>
    form.inline-form {
        display: inline-block;
    }

    form.inline-form button {
        display: inline-block;
        vertical-align: middle;
    }
</style>




<!--Main layout-->
  <main class="mb-5">
    <!-- Section: White background -->
    <section class="bg-white shadow-2 mb-4">
      <div class="container">
        <!-- Section: Images -->
        <section class="mb-5">
          <div class="bg-image rounded-bottom shadow-1-strong" style="
                background-image: url('https://mdbootstrap.com/img/new/slides/297.jpg');
                height: 400px;
              "></div>
  
          <div class="d-flex justify-content-center">
                <div class="rounded-circle overflow-hidden shadow-3-strong position-absolute" style="width: 168px; height: 168px; margin-top: -140px">
                        <img src="@Model.AU.ProfileImage" class="w-100 h-100 object-fit-cover" alt="" />
                </div>
        </div>
        </section>
        <!-- Section: Images -->
  
        <!-- Section: User data -->
        <section class="text-center border-bottom">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              <h2><strong>@Model.AU.FirstName @Model.AU.LastName</strong></h2>
  
              <p class="text-muted">
                @Model.AU.ProfileDescript
              </p>
            </div>
          </div>
        </section>
        <!-- Section: User data -->
  
        <!-- Section: Buttons -->
        <section class="d-flex justify-content-between align-items-center py-3">
          <!-- Left -->
          <div class="d-none d-lg-block">
            <button type="button" class="btn btn-link btn-lg text-reset px-3" data-mdb-ripple-color="dark">
                Followers <small class="text-muted">@ViewBag.followers</small>
              </button>
            <button type="button" class="btn btn-link btn-lg text-reset px-3" data-mdb-ripple-color="dark">
              Following <small class="text-muted">@ViewBag.following</small>
            </button>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div class=" d-lg-block">
            @if(@Model.AU.Id == UserManager.GetUserAsync(User).Result.Id)
                    {
                        <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark" data-toggle="modal" data-target="#EditAccount"> <i class="fas fa-edit me-2"></i>Edit profile</button>
                    }else
                    {
                    
                    }


           @if(@Model.AU.Id == UserManager.GetUserAsync(User).Result.Id)
                    {
                    
                    }
                    else
                    {
                        <button class="btn btn-dark" asp-controller="Profile" asp-action="AddMessage" asp-route-id="@Model.AU.Id" data-toggle="modal" data-target="#addMessage" > <i class="bi bi-envelope-fill"></i></button>
                    }

           @if(@Model.AU.Id == UserManager.GetUserAsync(User).Result.Id)
                    {
                    
                    }else
                    {
                        @if(ViewBag.follow == false)
                            {
                                <form class="inline-form" method ="post" asp-controller="Profile" asp-action="AddFollow" asp-route-id="@Model.AU.Id"> 
                                     <button type="submit" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
                                         Follow
                                     </button>

                                </form>
                            }
                            else
                                {
                                    <form class="inline-form" method ="post" asp-controller="Profile" asp-action="AddFollow" asp-route-id="@Model.AU.Id"> 
                                           <button type="submit" class="btn btn-danger px-3 me-2" data-mdb-ripple-color="dark">
                                               Following
                                           </button>

                                    </form>
                                }
                    }





            
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Buttons -->
      </div>
    </section>
    <!-- Section: White background -->
  
    <!-- Section: Grey background -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-4 mb-md-0">
            <!-- Section: Intro -->
            <section class="mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mt-1 mb-4"><strong>Intro</strong></h5>
  
                  <ul class="list-unstyled text-muted">
                    <li><i class="bi bi-balloon-fill me-3 mb-3"></i>Birthday @Model.AU.Birthday</li>
                    <li><i class="bi bi-calendar-date-fill me-3 mb-3"></i>Joined Aug 6</li>
                    <li><i class="bi bi-house-door-fill me-3 mb-3"></i>Lives in <a class="text-reset font-weight-bold"
                        href="">@Model.AU.Location</a></li>
                    <li class="d-lg-none d-lg-block"><i class="bi bi-person-video3 me-3 mb-3"></i>Followed by <a class="text-reset font-weight-bold"
                        href="">9254 people</a></li>
                    <li class="d-lg-none d-lg-block"><i class="bi bi-people-fill me-3 mb-3"></i>Following by <a class="text-reset font-weight-bold"
                        href="">9254 people</a></li>
                  </ul>
  
                  
  
                  
                </div>
              </div>
            </section>
            <!-- Section: Intro -->
  
           
  
            <!-- Section: Friends -->
            @await Component.InvokeAsync("Followers", new { id = @Model.AU.Id, followers = @ViewBag.followers })
            @await Component.InvokeAsync("Following", new { id = @Model.AU.Id, following = @ViewBag.following })
            <!-- Section: Friends -->
          </div>
  
          <div class="col-md-7 mb-4 mb-md-0">
            <!--Section: Create post-->
            <section class="mb-4">
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="d-flex py-2">
                    <a href="">
                      <div class="rounded-circle overflow-hidden border" style="width: 40px; height: 40px;">
                          <img src="@Model.AU.ProfileImage" class="w-100 h-100 object-fit-cover" alt="" />
                      </div>
                    </a>
  
                    <button type="button" class="btn btn-light btn-block btn-rounded bg-light ml-2"
                      data-mdb-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#modalPost">
                      What's on your mind?
                    </button>
                  </div>
                 
                  
                </div>
              </div>
  
              <!-- Card -->
  
              <!-- modalPost-->
              <form method ="post" asp-controller="Profile" asp-action="Account" >
                  <div class="modal fade" id="modalPost" tabindex="-1" aria-labelledby="modalPostLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalPostLabel">
                            Create post
                          </h5>
                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Message input -->
                          <div class="form-outline mb-4">
                            <textarea class="form-control" id="form4Example3" asp-for="@Model.PM2.Post" rows="4"></textarea>
                            <label class="form-label" for="form4Example3">Message</label>
                          </div>
  
                          <div class="d-flex justify-content-between">
                            <strong>Add to the post</strong>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary btn-block">
                            Post
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
              <!-- modalPost-->
            </section>
            <!--Section: Create post-->
  
            <!--Section: Newsfeed-->
            <section>
                @foreach(var item in Model.PM){
              <section>
                                                    <div class="card border-style border-bottom">
                                                      <div class="card-body">
                                                        <!-- Data -->
                                                        <div class="d-flex mb-3">
                                                          <a href="">
                                                            <img src="@Model.AU.ProfileImage" class="border rounded-circle me-2"
                                                              alt="" style="height: 40px" />
                                                          </a>
                                                          <div>
                                                            <a href="" class="text-dark mb-0">
                                                              <strong>@Model.AU.FirstName @Model.AU.LastName</strong>
                                                            </a>
                                                            <a href="" class="text-muted d-block" style="margin-top: -6px">
                                                              <small>@@@Model.AU.UserName</small>
                                                            </a>
                                                          </div>
                                                        </div>
                                                        <!-- Description -->
                                                        <div>
                                                          <p>
                                                           @item.Post
                                                          </p>
                                                        </div>
                                                      </div>
         
                                                      <!-- Interactions -->
                                                      <div class="card-body">
                                                        <!-- Reactions -->
                                                        <div class="d-flex justify-content-between mb-3">
                                                          <div>
                                                              <form  method="post"  class="inline-form " asp-controller="Profile" asp-action="AddLike" asp-route-id="@item.PostId">
                                                                  <button type="submit"  asp-for="@item.PostId" class="pointer transparent-button" >
                                                                    <i class="fas fa-thumbs-up text-primary"></i>
                                                                    <span>@item.Likes</span>
                                                                  </button>
                                                              </form>
                                            
                                                          </div>
                                                          <div> Aug 6, 2023 4:53pm</div>
                                                          <div>
                                                            <a  asp-controller="Post" asp-action="Comments" asp-route-id="@item.PostId" class="text-muted"> comments </a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <!-- Interactions -->
                                                    </div>
                                                  </section>
                }
            </section>
            <!--Section: Newsfeed-->
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Grey background -->
  </main>
  <!--Main layout-->










<div class="modal fade" id="addMessage" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMessageLabel">New message to  @Model.AU.FirstName</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <form method="post" asp-controller="Profile" asp-action="AddMessage" asp-route-id="@Model.AU.Id">
        <div class="modal-body">
        
          <div class="form-group">
            
            <input type="hidden" asp-for="@Model.AU.Id"  class="form-control" id="recipient-name" value="@Model.AU.Id">
            <span type="hidden" asp-validation-for="@Model.AU.Id" class="text-danger"></span>
          </div>
          <div class="form-group">
            
            <input type="hidden" asp-for="@UserManager.GetUserAsync(User).Result.Id"  class="form-control" id="curent-name">
            <span type="hidden" asp-validation-for="@UserManager.GetUserAsync(User).Result.Id" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.MM.MessageName" class="col-form-label">Message Name:</label>
            <input asp-for="@Model.MM.MessageName" type="text" class="form-control" id="messageName">
            <span  asp-validation-for="@Model.MM.MessageName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.UM.Message" class="col-form-label">Message:</label>
            <textarea asp-for="@Model.UM.Message" class="form-control" id="message-text"></textarea>
            <span asp-validation-for="@Model.UM.Message" class="text-danger"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Send message</button>
          </div>
        
        </div>
      </form>
    </div>
  </div>
</div>





<div class="modal fade" id="EditAccount" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMessageLabel">Edit Account of @Model.AU.FirstName</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="EditAccount" asp-route-id="@Model.AU.Id">
        <div class="modal-body">
        
          <div class="form-group">
            
            <input type="hidden" asp-for="@Model.AU.Id"  class="form-control" id="recipient-name" value="@Model.AU.Id">
            <span type="hidden" asp-validation-for="@Model.AU.Id" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.UserName" class="col-form-label">User name:</label>
            <input asp-for="@Model.AU.UserName" type="text" class="form-control" id="curent-name">
            <span asp-validation-for="@Model.AU.UserName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.FirstName" class="col-form-label">First name:</label>
            <input asp-for="@Model.AU.FirstName" type="text" class="form-control" id="curent-name">
            <span asp-validation-for="@Model.AU.FirstName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.LastName" class="col-form-label">Last Name:</label>
            <input asp-for="@Model.AU.LastName" type="text" class="form-control" id="messageName">
            <span  asp-validation-for="@Model.AU.LastName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.Birthday" class="col-form-label">Birthday:</label>
            <input asp-for="@Model.AU.Birthday" class="form-control" id="message-text"></input>
            <span asp-validation-for="@Model.AU.Birthday" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.Location" class="col-form-label">Location:</label>
            <input asp-for="@Model.AU.Location" class="form-control" id="message-text"></input>
            <span asp-validation-for="@Model.AU.Location" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.AU.ProfileDescript" class="col-form-label">Profile Description:</label>
            <TextArea asp-for="@Model.AU.ProfileDescript" class="form-control" id="message-text"></TextArea>
            <span asp-validation-for="@Model.AU.ProfileDescript" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="@Model.Picture" class="col-form-label">Profile Picture:</label>
            <input asp-for="@Model.Picture" class="form-control" id="message-text"></input>
            <span asp-validation-for="@Model.Picture" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.Email" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.PasswordHash" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.PasswordHash" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.SecurityStamp" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.SecurityStamp" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.ConcurrencyStamp" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.ConcurrencyStamp" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.LockoutEnabled" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.LockoutEnabled" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.AccessFailedCount" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.AccessFailedCount" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.NormalizedEmail" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.NormalizedEmail" class="text-danger"></span>
          </div>
           <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.NormalizedUserName" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.NormalizedUserName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.EmailConfirmed" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.EmailConfirmed" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="hidden" asp-for="@Model.AU.ProfileImage" class="form-control" ></input>
            <span type="hidden" asp-validation-for="@Model.AU.ProfileImage" class="text-danger"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Update Account</button>
          </div>
        
        </div>
      </form>
    </div>
  </div>
</div>


   





 



   







    